#logo{
    height: 110px;
}

.footer{
    z-index: 1;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: darkgray;
    height: 40px;
}

.card{
    z-index: 0;
}

body {
    margin-bottom: 3.5em;
}

.my_pointer{
    cursor: pointer;
}