#logo{
    height: 90px;
    mask-image: linear-gradient(left, black 10%, transparent 50%);
}



.footer{
    z-index: 1;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: darkgray;
    height: 40px;
}

.card{
    z-index: 0;
}

body {
    background-image: url("../images/watching_tv.jpeg");
    margin-bottom: 5.5em;
    opacity:96%;
}

.my_pointer{
    cursor: pointer;
}

input, select{
    text-align-last: center;
}

#border, #genre, #movieName, #episodes, #email, #password, #category, #firstname, #lastname, #username, .my_theme{
    border-color: black;
    border-width: thin;
    background-color: wheat;
    opacity: 90%;
    font-size: larger;
    font-family: arvo, "Times New Roman";
    color: black;
}

.edit, #edit{
    font-family: oswald, serif;
    font-size: xx-large;
    color: coral;
    letter-spacing: -1px;
    color: coral;
    font-weight: bold;

    -webkit-text-stroke: .5px black;
    -webkit-text-fill-color: coral;
}

@supports (-webkit-text-stroke: 2px black) {
     .errors{
        -webkit-text-stroke: 1.5px black;
        -webkit-text-fill-color: coral;
        letter-spacing: 2px;
        font-size: 75px;
    }
}
#rateme{
    -webkit-text-stroke: .3px black;
    -webkit-text-fill-color: coral;
    letter-spacing: 2px;
    font-size: 75px;
    color:coral;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

#fixed{
    height: 67%;
    bottom: 0;
    right: 0;
    position: absolute;
    overflow: scroll;
    z-index: -1000;
}
#logout{
    font-family: oswald,serif;
    color: coral;
    letter-spacing: -1px;
    font-size: xx-large;
}

#title{
    font-size: 30px;
}
#usermovie, .usermovie{
    color:coral;
    font-size: 25px;
    -webkit-text-stroke: .5px black;
    -webkit-text-fill-color: coral;
}







