#logo{
    height: 90px;
}

.footer{
    z-index: 1;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: darkgray;
    height: 40px;
}

.card{
    z-index: 0;
}

body {
    background-image: url("../images/watching_tv.jpeg");
    margin-bottom: 5.5em;
    opacity:96%;
}

.my_pointer{
    cursor: pointer;
}

input, select{
    text-align-last: center;
}

#border, #genre, #movieName, #episodes, #email, #password, #category{
    border-color: black;
    border-width: thin;
    background-color: wheat;
    opacity: 90%;
    font-size: larger;
    font-family: arvo, "Times New Roman";

}

#edit{
    font-family: oswald;
    font-size: xx-large;
    color: coral;
    letter-spacing: -1px;

}
#rateme{
    letter-spacing: 2px;
    font-size: xxx-large;
}




