<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>Add User</title>
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>
    <div th:replace="fragments/base :: footer"></div>
    <br>
<form class="mt-5" th:action="@{/user}" th:object="${user}" method = "post">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8 col-md-4">
                <input class="form-control" id="firstname" type="text"
                       th:field="*{userFirstname}" placeholder="First Name" required/>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-8 col-md-4">
                <span class="text-danger small" th:if="${#fields.hasErrors('userFirstName')}"
                th:errors="*{userFirstname}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 col-md-4">
                <input class="form-control" id="lastname" type="text"
                       th:field="*{userLastname}" placeholder="Last Name" required/>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-8 col-md-4">
                <span class="text-danger small" th:if="${#fields.hasErrors('userLastName')}"
                      th:errors="*{userLastname}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 col-md-4">
                <input class="form-control" id="username" type="text"
                       th:field="*{username}" placeholder="User Name" required/>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-8 col-md-4">
                <span class="text-danger small" th:if="${#fields.hasErrors('userName')}"
                      th:errors="*{username}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 col-md-4">
                <input class="form-control" id="email" type="text"
                       th:field="*{email}" placeholder="Email" required/>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-8 col-md-4">
                    <span class="text-danger small" th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 col-md-4">
                <input class="form-control" id="password" type="password"
                       th:field="*{password}" placeholder="Password" required/>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-8 col-md-4">
                    <span class="text-danger small" th:if="${#fields.hasErrors('passWord')}"
                          th:errors="*{password}"></span>
            </div>
        </div>

        <div class="row justify-content-center mb-2">
            <div class="col-8 col-md-4">
                <input class="btn btn-light btn-outline-dark" type="submit" value="Submit"/>
            </div>
        </div>
    </div>
    <br>
</form>

</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>