<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles">
    </th:block>
    <title>All Reviews</title>
<body>
    <div th:replace="fragments/base :: navigation"></div>

    <div th:replace="fragments/base :: header"></div>
    <div th:replace="fragments/base :: footer"></div>

    <div class="container-fluid mt-5" id="fixed">
        <div th:each="review: ${reviews}">
            <div class="row justify-content-center mb-5">
                <div class="col-10 col-md-6 card" id="border">
                    <div class="card-body" id="reviewInfo">
                        <h5 class="card-title text-center" id="title" th:text="${review.getMovie()}"></h5>
                        <span class="card-body " th:text="'Genre: ' + ${review.movie.getGenre()}"></span><br>
                        <span class="card-body" th:text="'Category: ' + ${review.movie.getCategory()}"></span><br>
                        <span class="card-body" th:text="'Number of episodes: ' + ${review.movie.getEpisodes()}"></span><br>
                        <span class="card-body" th:text="'Rated by user: ' + ${review.getRating()}"></span><br>
                        <span class="card-body" th:text="'Review: ' + ${review.getDescription()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>