<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles">
    </th:block>
    <title>User Display</title>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>
    <div th:replace="fragments/base :: footer"></div>

    <div class="container-fluid mt-5">
        <div th:each="user: ${users}">
            <div class="row justify-content-center mb-5">
                <div class="col-6 col-md-3 card" id="border">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title" th:text="${user.getUserFirstname()}"></h5>
                            &nbsp;
                            <h5 class="card-title" th:text="${user.getUserLastname()}"></h5>
                        </div>
                        <span class="card-text" th:text="${user.getUsername()}"></span>
                        <br/>
                        <span class="card-text" th:text="${user.getEmail()}"></span>
                        <br/>
                        <span class="card-text" th:text="${user.getCreated()}"></span>
                        <br/>
                        <span class="card-text" th:text="${user.getModified()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>