<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles">
    </th:block>
    <title>Movie Display</title>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>
    <div th:replace="fragments/base :: footer"></div>

    <div class="container-fluid mt-5">
        <div th:each="movie: ${movies}">
            <div class="row justify-content-center mb-3">
                <div class="col-2 col-md-3 card">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title d-inline" th:text="${movie.getMovieName()}"></h5>
                            <a th:href="@{/movie/view/{id}(id=${movie.id})}" class="ml-3 text-dark"><i class="fas fa-eye"></i></a>
                            <a th:href="@{/movie/delete/{id}(id=${movie.id})}" class="ml-3 text-danger"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>