<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles">
    </th:block>
    <title>Movie Display</title>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>
    <div th:replace="fragments/base :: footer"></div>

    <div class="container-fluid mt-5">
        <div th:each="movie: ${movies}">
            <div class="row justify-content-center mb-5">
                <div class="col-2 col-md-3 card">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title" th:text="${movie.getMovieName()}"></h5>
                        </div>
                        <span class="card-text" th:text="${movie.getCategory()}"></span>
                        <br/>
                        <span class="card-text" th:text="${movie.getDescription()}"></span>
                        <br/>
                        <span class="card-text" th:text="${movie.getEpisodes()}"></span>
                        <br/>
                        <span class="card-text" th:text="${movie.getRating()}"></span>
                        <br/>
                        <span class="card-text" th:text="${movie.getCreated()}"></span>
                        <br/>
                        <span class="card-text" th:text="${movie.getModified()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>