<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>Home</title>
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>
    <br><br>

    <div class="container-fluid">
        <div class="row justify-content-center mb-3" sec:authorize="isAuthenticated()">
            <div class="col-8 col-md-3 text-center">
                <h4 class="edit" th:text="'Hello ' + ${user.userFirstname} + ' ' + ${user.userLastname} + ', I hope you enjoy the Rate Me experience!!!'"></h4>
            </div>
        </div>
        <div class="row justify-content-center" sec:authorize="isAuthenticated()">
            <a class="ml-2 btn btn-light btn-outline-dark" th:href="@{/display-movies}">Check out Movies</a>
        </div>

        <div class="row justify-content-center" sec:authorize="isAnonymous()">
            <div class="col-8 col-md-3 text-center">
                <a th:href="@{/login}" class="btn btn-light btn-outline-dark">Login</a>
            </div>
        </div>
    </div>

    <div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>